
<!DOCTYPE html>
<html>
<head>
  <title>PicPatter</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <link rel="shortcut icon" href="assets/favicon.ico" />
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://picpatter.heroku.com">
      <div class="icon"><%= image_tag ("picpatter.png") %>
        <h1 class="logotitle">PicPatter</h1></a>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Home', root_path %></li>
        <li class=""><a href="#about">How it Works <span class="sr-only">(current)</span></a></li>
        <li><a href="#ourteam">Our Team</a></li>
        <li><a href="#contactimage">Contact</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul> -->
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Link</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>

<section id="home" data-type="background" data-speed="10" class="pages">
  <article>I am absolute positioned</article>
    <div class="mainbox">
    </div>
      <div class="largetext">
        <h1>Capture the moments that take your breath away</h1>
        <div class="button">
          <div class="btn btn-success">
            <%= link_to "Login with Instagram", oauth_connect_path %>
          </div>
      </div>
</section>

<div class="row">
  <section id="about" data-type="background" data-speed="10" class="pages">
    <h1>How it Works </h1>
    <div class="col-md-4">
      <div class="panel panel-primary">
       <div class="panel-heading">
         <h2 class="panel-title">1. Login and Register with Instagram</h2>
    </div>
      <div class="panel-body">

      <%= image_tag("instagramicon.png", class: "instagramicon") %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <!-- Gain quick access to PicPatter by connecting your Instagram account. -->
      </div>
    </div>
</div>


<div class="row">
<div class="col-md-4">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">2. Start Adding Events</h3>
    </div>
    <div class="panel-body">
    <%= image_tag("event.png", class: "instagramicon") %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
  </div>
</div>


<div class="row">
<div class="col-md-4">
  <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">3. View and Share with friends!</h3>
  </div>
  <div class="panel-body">
  <%= image_tag("share.png", class: "instagramicon") %>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

  </div>
</div>
</div>

</div>
</div>
</div>
  </section>

  <section id="secondimage" data-type="background" data-speed="10" class="pages">
         <article>
         <div class="row col-md-6 center">
           <h1>"Now I can see all the wedding photos from my big day in one place! It's like a 360 degree view of my wedding"
           -Charlotte Horn</h1>
         </div>
         </article>
  </section>


  <section id="ourteam" data-type="background" data-speed="10" class="pages">
    <article><h1>Our Team</h1></article>
      <div class="row">
        <div class="teampic col-md-4">
        <%= image_tag("teampic.png", class: "teampic") %>

        </div>
        <div class="teaminfo col-md-8 col-md-offset-6">
          <h3 id="brenden">Brenden Martin</h3>
            <p id="brendeninfo"> Brenden came up with the idea of PicPatter while in an immersive web development bootcamp at General Assembly. Understanding the struggle of wanting to get all the wedding photos of friends and family on your special day, he found a way to harness the Instagram API to pull in the photos giving you a story of your wedding day that you can reference at anytime. Brenden plans on making additional upgrades to the application and will be testing it this wedding season!</p>
        </div>

      </div>
  </section>

  <section id="contactimage" data-type="background" data-speed="10" class="pages">
         <article>
          <div class="row col-md-6 center">
           <h1 id="question">Question? Well, shoot us a call!</h1>

         </div>
         </article>
  </section>


<footer class="site-footer col-md-12">
  <div class="row">
    <%= social_share_button_tag ("PicPatter") %>
    <p class="right">Created by Brenden Martin Consulting. All rights reserved. Copyright 2015</p>
  </div>
</footer>



